@import url("reset.css");
/* Init with Compass */
/* Init with reset */
/* ====================================================================
	COLOR SCHEMES
   ==================================================================== */
/* Colors */
/* Gray blue */
/* Rich blue */
/* Light green */
/* Dark green */
/* Tan */
/* Golden ratio */
/* Dimensions */
/* Golden ratios */
/* Mixins */
/* ====================================================================
	FONTS -- http://awesome-fontstacks.com/bundles/339-awesome-bundle-339
   ==================================================================== */
/* Museo Sans */
@font-face {
  font-family: '_.regular';
  src: url("./fonts/museosans_500-webfont-webfont.eot");
  src: url("./fonts/museosans_500-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/museosans_500-webfont-webfont.woff") format("woff"), url("./fonts/museosans_500-webfont-webfont.ttf") format("truetype"), url("./fonts/museosans_500-webfont-webfont.svg#_.regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Gentium Basic */
@font-face {
  font-family: 'gentium_book_basicregular';
  src: url("./fonts/genbkbasr-webfont.eot");
  src: url("./fonts/genbkbasr-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/genbkbasr-webfont.woff") format("woff"), url("./fonts/genbkbasr-webfont.ttf") format("truetype"), url("./fonts/genbkbasr-webfont.svg#gentium_book_basicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Liberation Serif */
@font-face {
  font-family: 'liberation_serifregular';
  src: url("./fonts/liberationserif-regular-webfont.eot");
  src: url("./fonts/liberationserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/liberationserif-regular-webfont.woff") format("woff"), url("./fonts/liberationserif-regular-webfont.ttf") format("truetype"), url("./fonts/liberationserif-regular-webfont.svg#liberation_serifregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Liberation Mono */
@font-face {
  font-family: 'liberation_monoregular';
  src: url("./fonts/liberationmono-regular-webfont.eot");
  src: url("./fonts/liberationmono-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/liberationmono-regular-webfont.woff") format("woff"), url("./fonts/liberationmono-regular-webfont.ttf") format("truetype"), url("./fonts/liberationmono-regular-webfont.svg#liberation_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ====================================================================
	BASIC LAYOUT
   ==================================================================== */
/* Setup height to always reach at least 100% of the page - in case we don't have much content, you know... */
/* line 120, ../scss/style.scss */
html, body {
  min-height: 100%;
}

/* line 125, ../scss/style.scss */
.clearfix {
  clear: both;
}

/* Wrap */
/* line 128, ../scss/style.scss */
.wrap {
  width: 1000px;
  height: 100%;
  margin: auto;
  /* Columns */
}
/* line 134, ../scss/style.scss */
.wrap .column {
  float: left;
  padding: 20px;
  /* Sides */
}
/* line 139, ../scss/style.scss */
.wrap .column.left {
  width: 578.03399px;
}
/* line 140, ../scss/style.scss */
.wrap .column.right {
  width: 341.96601px;
}

/* line 144, ../scss/style.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55.72809px;
  line-height: 55.72809px;
}
/* line 152, ../scss/style.scss */
header h1 {
  float: left;
  margin-left: 20px;
}

/* line 158, ../scss/style.scss */
#content {
  padding-top: 55.72809px;
  min-height: 544.27191px;
}

/* Nav */
/* line 165, ../scss/style.scss */
#main-nav li {
  float: left;
}
/* line 167, ../scss/style.scss */
#main-nav li:first-child {
  padding-left: 0;
}

/* line 173, ../scss/style.scss */
#footer {
  min-height: 300px;
}

/* ====================================================================
	GENERAL STYLES
   ==================================================================== */
/* line 182, ../scss/style.scss */
body {
  background: #1038bf url("../img/creampaper.png");
  font-family: "gentium_book_basicregular", "Times New Roman", "Georgia", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 1.115em;
  font-size: 16px;
  line-height: 22px;
}

/* line 190, ../scss/style.scss */
a:link, a:active, a:visited {
  color: #1038bf;
}
/* line 191, ../scss/style.scss */
a:hover {
  color: #466cef;
}

/* line 194, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "_.regular", "Verdana", "Gill Sans", "Lucida Grande", "Arial", "Helvetica", sans-serif;
}

/* line 196, ../scss/style.scss */
header {
  background-color: rgba(16, 56, 191, 0.95);
  border-bottom: 3px solid #081c61;
  /* 2 Shadows: Bottom and Inset */
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px, rgba(0, 0, 0, 0.2) 0 1px 20px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px, rgba(0, 0, 0, 0.2) 0 1px 20px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px, rgba(0, 0, 0, 0.2) 0 1px 20px 0px inset;
  /* Header Link */
}
/* line 207, ../scss/style.scss */
header h1 a {
  margin-right: 20px;
  font-family: "liberation_serifregular", "Times New Roman", "Georgia", "Palatino", "Hoefler Text", "Baskerville", serif;
  font-size: 1.102em;
  font-size: 1.8em;
  letter-spacing: 0.2em;
  text-shadow: 0 2px 2px rgba(8, 28, 97, 0.3), 0 1px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
/* line 217, ../scss/style.scss */
header h1 a:link, header h1 a:active, header h1 a:visited, header h1 a:hover {
  color: #fff;
}

/* Main navigation items */
/* line 223, ../scss/style.scss */
#main-nav li a {
  position: relative;
  top: 1px;
  margin-right: 20px;
  border-bottom: 1px dotted rgba(191, 194, 179, 0.3);
  font-family: "_.regular", "Verdana", "Gill Sans", "Lucida Grande", "Arial", "Helvetica", sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-decoration: none;
}
/* line 234, ../scss/style.scss */
#main-nav li a:link, #main-nav li a:active, #main-nav li a:visited {
  color: #bfc2b3;
}
/* line 235, ../scss/style.scss */
#main-nav li a:hover {
  color: #efefec;
}

/* line 241, ../scss/style.scss */
#content {
  background-color: #fff;
  color: #333;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-box-shadow: 0 0 20px 1px rgba(136, 136, 136, 0.3);
  -moz-box-shadow: 0 0 20px 1px rgba(136, 136, 136, 0.3);
  box-shadow: 0 0 20px 1px rgba(136, 136, 136, 0.3);
}
/* line 248, ../scss/style.scss */
#content h2 {
  font-weight: bold;
  font-size: 1.75em;
  line-height: 1.75em;
  border-bottom: 2px dotted #aaa;
  margin-bottom: 0.5em;
}

/* line 257, ../scss/style.scss */
#footer {
  border-top: 1px solid #286c35;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80369147', endColorstr='#F2286C35');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(54, 145, 71, 0.5)), color-stop(100%, rgba(40, 108, 53, 0.95)));
  background-image: -webkit-linear-gradient(top, rgba(54, 145, 71, 0.5) 0%, rgba(40, 108, 53, 0.95) 100%);
  background-image: -moz-linear-gradient(top, rgba(54, 145, 71, 0.5) 0%, rgba(40, 108, 53, 0.95) 100%);
  background-image: -o-linear-gradient(top, rgba(54, 145, 71, 0.5) 0%, rgba(40, 108, 53, 0.95) 100%);
  background-image: linear-gradient(top, rgba(54, 145, 71, 0.5) 0%, rgba(40, 108, 53, 0.95) 100%);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

/* Found this form at http://woork.blogspot.com/2008/06/clean-and-pure-css-form-design.html */
/* ----------- My Form ----------- */
/* line 270, ../scss/style.scss */
.myform {
  margin: 10px 0;
  padding: 14px;
  width: 550.03399px;
  font-size: 12px;
  line-height: 14px;
}
/* line 280, ../scss/style.scss */
.myform p, .myform h1, .myform form, .myform button {
  border: 0;
  margin: 0;
  padding: 0;
}

/* ----------- stylized ----------- */
/* line 285, ../scss/style.scss */
#stylized {
  border: solid 2px #b7ddf2;
  background: #ebf4fb;
}
/* line 289, ../scss/style.scss */
#stylized h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* line 294, ../scss/style.scss */
#stylized p {
  font-size: 11px;
  color: #666666;
  margin-bottom: 20px;
  border-bottom: solid 1px #b7ddf2;
  padding-bottom: 10px;
}
/* line 301, ../scss/style.scss */
#stylized label {
  display: block;
  clear: both;
  float: left;
  font-weight: bold;
  text-align: right;
  width: 140px;
  line-height: 25px;
}
/* line 310, ../scss/style.scss */
#stylized input {
  float: left;
  margin: 2px 0 20px 10px;
  border: solid 1px #aacfe4;
  padding: 4px 2px;
  width: 200px;
  height: 13px;
  font-size: 12px;
}
/* line 319, ../scss/style.scss */
#stylized button {
  clear: both;
  margin-left: 150px;
  width: 125px;
  height: 31px;
  background-color: #666666;
  text-align: center;
  line-height: 31px;
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
}
